<div id="signInModal" role="dialog">
    <div class="form-style">
        <div>
            <h4>Sign In</h4>
        </div>
        <form ng-submit="login(user)">
            <div class="container">

                <label><b>Email</b></label>
                <input class="form-control" name="email" id="emailField" type="text" placeholder="Enter Email"
                       ng-model="user.email" ng-minlength="2"
                       required>

                <label><b>Password</b></label>
                <input class="form-control" name="password" id="passwordField" type="password"
                       placeholder="Enter Password" ng-minlength="8"
                       ng-model="user.password" required>

                <div class="clearfix">
                    <button style="margin-top:10px" type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>
    </div>

</div>