<div>
    <form>
        <label>E-mail:</label>
        <input placeholder="Enter E-mail Address" type="text" required>
        <label>Password:</label>
        <input placeholder="Enter Password" type="password" required>
        <input type="submit" value="Login"/>
    </form>
</div>
<style>
    body{
        background-color:#5e5e5e;
    }
    div{
        width: 50%;

        display: block;
        margin: auto;
        padding-top: 10%;
    }
    /* Bordered form */
    form {
        border: 3px solid dotted #f1f1f1;
    }

    /* Full-width inputs */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }
</style>
